.fondo_opaco{
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2E2E2E;/*none repeat scroll 0 0 #A4A4A4;*/
    z-index:2001;
    opacity:.5;
    -moz-opacity: 0.50;
    filter: alpha(opacity=50);
}
.ventana_modal {
    /* display: none;*/
    position: fixed;
    top: 30%;
    left: 30%;
    width: auto;
    height: auto;
    padding: 16px;
    background: #fff;
    color: #333;
    z-index:1002;
    overflow: auto;
    border: 5px solid;
    border-color:gray;
    border-radius: 10px;
}
.ventana_modal_catalogo {
    position: fixed;
    top: 5%;
    padding: 3em 3em;
    left: 20%;
    margin-right:0;
    background: #fff;
    color: #333;
    z-index:2002;
    border: 2px solid;
    border-color:#424242;
    border-radius: 10px;
}
